/*Break points arguments:
-phone
-tab-port
-tab-land
-big-desktop

1em=16px
*/
/********Primary*/
/********Neutral*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  width: 100%;
  font-family: "Be Vietnam", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box; }

.primary__header {
  font-size: 5.5rem;
  line-height: 1.4;
  color: var(--DarkBlue);
  margin-bottom: 4rem;
  letter-spacing: -0.1rem;
  line-height: 1.1; }

.primary__header-sub {
  font-size: 1.8rem;
  color: var(--DarkGrayishBlue);
  line-height: 1.5;
  margin-bottom: 5rem;
  display: block; }

.about-us-main__header {
  font-size: 4.5rem;
  line-height: 1;
  color: #242d52;
  margin-bottom: 4rem;
  letter-spacing: -0.1rem; }

.about-us-main__sub {
  font-size: 1.8rem;
  color: #9095a7;
  letter-spacing: 0.2px; }

.about-us-sub__secondary {
  color: #242d52;
  font-size: 1.8rem;
  display: block;
  margin-bottom: 3rem;
  letter-spacing: 0.2px;
  font-weight: 700; }

.about-us-sub__tertiary {
  color: #9095a7;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  display: inline-block; }

.stories-section__header {
  font-size: 4.5rem;
  color: #242d52;
  margin-bottom: 10rem;
  letter-spacing: -0.1rem; }

.simplify-header {
  color: #fafafa;
  font-size: 4.5rem;
  line-height: 1.1; }

.btn {
  background-color: #f25f3a;
  padding: 1.2rem 3rem;
  outline: none;
  border: none;
  border-radius: 3rem;
  color: #fafafa;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.5px;
  box-shadow: 0 0.5rem 1.5rem rgba(29, 30, 37, 0.2);
  cursor: pointer;
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  text-align: center; }

.btn:hover {
  filter: brightness(150%); }

.cta__btn {
  display: inline-block; }

.about-us__btn {
  position: absolute;
  transform: translateX(-10rem);
  padding: 1rem 2.5rem;
  background-color: #f25f3a;
  outline: none;
  border: none;
  border-radius: 3rem;
  color: #fafafa;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.8rem;
  cursor: pointer; }

.testimonial-btn {
  display: inline-block; }

.update-btn {
  padding: 1rem 2rem;
  margin-left: 1rem; }

.btn-simplify {
  background-color: #fafafa;
  color: #242d52; }

.btn-simplify:hover {
  background-color: #f25f3a;
  color: #fafafa; }

.update-input {
  color: #9095a7;
  font-weight: 500;
  padding: 1rem;
  border-radius: 2.5rem;
  outline: none;
  border: none; }

.stories-slider {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  margin: 5rem auto; }

.stories-section-card {
  background-color: #fafafa;
  padding: 4rem 3rem;
  height: 25rem;
  overflow: visible; }
  .stories-section-card:not(:last-child) {
    margin-right: 2rem; }

.client-img {
  width: 8rem;
  margin-top: -8rem;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  box-sizing: border-box; }

.client-name {
  margin: 1rem 0;
  color: #242d52;
  font-size: 1.8rem;
  font-weight: 700; }

.client-story {
  color: #9095a7;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3; }

.footer {
  background-color: #1d1e25;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30rem;
  padding: 10rem 10%; }

.socials {
  display: inline-block;
  margin-top: 6rem; }

.social-icon {
  margin-left: 1rem; }

.footer-menu ul li {
  list-style-type: none;
  margin-bottom: 1rem;
  color: #fafafa;
  font-size: 1.8rem; }

.other-links ul li {
  list-style-type: none;
  margin-bottom: 1rem;
  color: #fafafa;
  font-size: 1.8rem; }

.footer-copyright {
  color: #fafafa;
  display: block;
  margin-top: 4rem;
  float: right;
  font-size: 1.2rem;
  opacity: 0.6; }

.navigation__logo-box {
  cursor: pointer; }

.navigation-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 10rem auto; }

.navigation__menu-items {
  font-weight: 700;
  display: flex; }

.navigation__menu-items li {
  text-transform: capitalize;
  list-style-type: none;
  cursor: pointer;
  color: #242d52;
  display: inline-block;
  margin-right: 5rem;
  font-size: 1.6rem; }

.navigation__menu-items li:hover {
  color: #9095a7; }

.cta-section {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 10rem auto; }

.cta-graphs-box {
  position: relative; }

.cta-graphs__img {
  width: 100%;
  z-index: 100; }

.cta-graphs__bg-img {
  width: 150%;
  z-index: -1;
  position: absolute;
  top: -43rem;
  right: -35rem; }

.about-us-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 10rem auto;
  position: relative; }

.about-us__bg-img {
  position: absolute;
  top: 60%;
  left: -65%;
  z-index: -1;
  width: 80%; }

.stories-section {
  width: 100%;
  margin-top: 10rem 0;
  text-align: center; }

.simplify-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15rem;
  padding: 0 10%;
  height: 30rem;
  background: url("/images/bg-simplify-section-desktop.svg"), no-repeat, #f25f3a; }
