.navigation__logo-box {
  cursor: pointer;
}

.navigation-wrapper{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 10rem auto;
}

.navigation__menu-items {
  font-weight: 700;
  display: flex;
}

.navigation__menu-items li {
  text-transform: capitalize;
  list-style-type: none;
  cursor: pointer;
  color: $DarkBlue;
  display: inline-block;
  margin-right: 5rem;
  font-size: 1.6rem;
}

.navigation__menu-items li:hover {
  color: $DarkGrayishBlue;
}
