.btn {
  background-color: $BrightRed;
  padding: 1.2rem 3rem;
  outline: none;
  border: none;
  border-radius: 3rem;
  color: $VeryLightGray;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.5px;
  box-shadow: 0 0.5rem 1.5rem rgba($VeryDarkBlue, 0.2);
  cursor: pointer;
  font-size: 1.8rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  filter: brightness(150%);
}

.cta__btn {
  display: inline-block;

  @include respond(tab-port) {
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.about-us__btn {
  padding: 0.6rem 3rem;
  border-radius: 3rem;
  color: $VeryLightGray;
  letter-spacing: 1px;
  box-shadow: none;
  transform: translateX(-10rem);

  @include respond(tab-port) {
    transform: translateX(3rem);
  }
}

.testimonial-btn {
  display: inline-block;
}

.update-btn {
  padding: 1rem 2rem;
  margin-left: 1rem;
}

.btn-simplify {
  background-color: $VeryLightGray;
  color: $DarkBlue;
}

.btn-simplify:hover {
  background-color: $BrightRed;
  color: $VeryLightGray;
}
