.primary__header {
  font-size: 5.5rem;
  color: var(--DarkBlue);
  margin-bottom: 4rem;
  letter-spacing: -0.1rem;
  line-height: 1.1;

  @include respond(tab-land) {
    white-space: nowrap;
  }

  @include respond(tab-port) {
    font-size: 4.5rem;
    margin-bottom: 3rem;
    text-align: center;
  }
}

.primary__header-sub {
  font-size: 1.8rem;
  color: $DarkGrayishBlue;
  line-height: 1.5;
  margin-bottom: 5rem;
  display: block;

  @include respond(tab-land) {
    width: 50%;
    white-space: nowrap;
  }

  @include respond(tab-port) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.header__secondary {
  font-size: 4.5rem;
  line-height: 1;
  color: $DarkBlue;
  margin-bottom: 4rem;
  letter-spacing: -0.1rem;

  @include respond(tab-port) {
    text-align: center;
  }
}

.header__tertiary {
  font-size: 1.8rem;
  color: $DarkGrayishBlue;
  letter-spacing: 0.2px;
}
.about-us-main__sub {
  font-size: 1.8rem;
  color: $DarkGrayishBlue;
  letter-spacing: 0.2px;
}

.about-us-sub__secondary {
  color: $DarkBlue;
  font-size: 1.8rem;
  display: block;
  margin-bottom: 2rem;
  letter-spacing: 0.2px;
  font-weight: 700;
  margin-left: -8rem;

  @include respond(tab-port) {
    margin-left: 4rem;
    margin-top: 1rem;
    width: 100%;
  }
}

.about-us-sub__tertiary {
  color: $DarkGrayishBlue;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  display: inline-block;
}

.stories-section__header {
  font-size: 4.5rem;
  color: $DarkBlue;
  margin-bottom: 10rem;
  letter-spacing: -0.1rem;

  @include respond(tab-port) {
    margin-bottom: 5rem;
  }
}

.simplify-header {
  color: $VeryLightGray;
  font-size: 4.5rem;
  line-height: 1.1;

  @include respond(tab-port) {
    margin: 3rem 0;
    font-size: 4rem;
  }
}
